@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema claro */
:root {
  --background: #ececec;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #8b5fbf;
  --secondary-color: #8fd9a8;
}

@media (prefers-color-scheme: dark) {
  /* Tema escuro */
  :root {
    --background: #2a2a2a;
  }
}

body {
  @apply bg-[var--(--foreground-rgb)];
}
